---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<footer class="footer-links">
  <p>🔗 사이트</p>
  <ul class="link-grid">
    <li><a href="https://kimhunjin.notion.site/1f5878ad80ff8079a4b7f3c8fe57b62d" target="_blank" rel="noopener">포트폴리오</a></li>
    <li><a href="https://www.youtube.com/@kimuzzang" target="_blank" rel="noopener">Youtube</a></li>
    <li><a href="https://github.com/khjzzm" target="_blank" rel="noopener">GitHub</a></li>
    <li><a href="{{ '/assets/resume/kimhyunjin_resume_20250516.pdf' | relative_url }}" download> 이력서(PDF)</a></li>
  </ul>
</footer>